.height{
    height: 800px;
}
.height-2{
    height: 200px;
}
.img img{
    width: 300px;
    height: auto;
}
li{
    list-style: none;
    margin: 0 5px;
    list
}
ul{
    margin-left: 20px;
}
body{
    overflow-x: hidden;
}
.pb-5 h6{
   margin-left: -67px;
}
.star{
    width: 200px;
}